@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --color-xam: #BBBBBB;
}

* {
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

.body {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding: 0 15px;
}